body{
    background: rgba(0, 0, 0, 0.02);
}

/* Стилизация первого блока в личном кабинете */
.main__inner_info_for_user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__inner_info{
    margin-right: 30px;
    padding: 77px 0 100px 0;
    background: #FCFCFC;
    box-shadow: 0px 4px 20px rgba(44, 56, 46, 0.15);
    border-radius: 25px;
    max-width: 699px;
    width: 100%;
    height: auto;
    min-height: 699px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_inner_info_blocks{
    display: flex;
}
.history_of_order_list {
    height: auto;
    display: flex;
    flex-direction: column;
    max-height: 1000px; 
    overflow-y: scroll;
}
.main_inner_bonuses_and_banners{
    display: flex;
    flex-direction: column;
}
.title{
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    margin: 170px 0 100px 0;
}
.main__inner_info_for_user img{
    margin-bottom: 50px;
}
.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_info a {
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

.user_info{
    margin-bottom: 50px;
}
.button_block{
    align-items: center;
    justify-content: center;
    display: flex;
}
.redacting_save_btn{
    background: #FFEC00;
    border-radius: 15px;
    width: 262px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.user_input{
    margin-top: 15px;
    display: flex;
    background: #C4C4C4;
    border-radius: 15px;
    font-size: 24px;
    width: 80%;
    height: 40px;
    color: #000000;
    padding-left: 15px;
}
.user_input::placeholder{
    font-size: 18px;
    color: rgba(250,250,250,0.4);
}

.redacting_btn{
    background: #FFEC00;
    border-radius: 15px;
    width: 262px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.redacting_btn.active{
    display: none;
}
.main_inner_banners_slide_item{
    overflow: hidden;
    background: linear-gradient(260.28deg, #FFEC00 23.72%, #000000 107.87%);
    border-radius: 25px;
    height: 500px;
}
.main_inner_banners_slide{
    padding: 100px 0 0 130px;
    height: 500px;
    background-image: url("../img/pizza_banner.svg");
}
.main_inner_banners_slide_title{
    max-width: 470px;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
}
.main_inner_banners_slide_descr{
    max-width: 460px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.block_for_bonus{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 989px;
	height: 385px;
	background: #C4C4C4;
	border-radius: 15px;
}
.block_for_bonus p {
	font-weight: 500;
	font-size: 72px;
	line-height: 69px;
	color: #000000;
}


/* Стилизация первого блока в личном кабинете */





/* Стилизация второго блока с историей заказа */

.number_of_order{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #0E1D12;
}

.description_of_order{
    max-width: 553px;
    max-height: 119px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.order_item{
    justify-content: space-between;
    align-items: flex-start;
    margin : 30px;
    padding: 50px 116px 50px 146px;
	width: 97%;
	min-height: 219px;
    display: flex;
    background: #FCFCFC;
    box-shadow: 0px 4px 20px rgba(44, 56, 46, 0.15);
    border-radius: 5px;
}
.more_of_order{
    background: #FCFCFC;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    border: none;
}
.price_of_order{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.reset_order{
    margin-top: 40px;
    background: #FFEC00;
    border-radius: 15px;
    height: 50px;
    width: 176px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}
.price_of_order a {
    margin: 0 5px;
}


/* Стилизация второго блока с историей заказа */



/* Стилизация третьего блока с топовыми позициями */

.top__position{
    margin-top: 210px;
}

.title_inner{
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    margin-bottom: 100px;
}

.top__position_slider_item{
    position: relative;
    padding: 36px 25px 50px 25px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0 15px;
    min-width:348px;
}

.top_pos_s_item_sale_pos{
    display: block;
    position: absolute;
    padding: 15px 34px;
    font-weight: normal;
    width: 109px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.135em;
    color: #FFEC00;
    background: #FF4040;
    border-radius: 10px;
}

.top_pos_s_item_title{
    max-height: 40px;
    margin: 30px 0 25px 0;
    text-align: start;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    overflow: hidden;
    color: #000000;
}
.top_pos_s_item_des{
    max-height: 100px;
    overflow: hidden;
    color: #000000;
}

.top_pos_s_item_footer{
    align-items: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.top_pos_s_item_price a{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.top_pos_s_item_price{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.top_pop_order_button{
    width: 176px;
    height: 50px;
    background: #FFEC00;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

/* Стилизация третьего блока с топовыми позициями */




/* VUE */



  .fade-enter-active {
    transition: all .3s ease;
  }
  .fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .fade-enter, .fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }