/* Верстка админ панели заказов */

.admin_container{
    width: 100%;
    max-width: 1920px;
}
.admin_container__inner{
    margin-bottom: 50px;
    background: white;
    width: 100%;
    height: 100px;
}
.admin__container{
    position: relative;
    margin-left: 350px;
    max-width: 1528px;
    width: 100%;
    padding: 0 80px 0 146px;
}

.admin_panels_order_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searching_place{
    width: 291px;
    height: 60px;
    padding-left: 16px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

#searching_place::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #898A8D;
}

.adding_order{
    margin-left: 30px;
    width: 231px;
    height: 60px;
    background: #FFEC00;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #000000;
}

.admin_panel_order_list_container{
    margin-top: 25px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 25px;
    height: auto;
    padding: 55px 48px;
}

.admin_panel_orders_list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.admin_panel_orders_list_header{
    display: flex;
}
.admin_panel_orders_list_item{
    display: flex;
}
.block{
    padding: 24px 0px 24px 11px;
    border: 1px solid #898A8D;
    height: 60px;
}
.block p {
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: #898A8D;
}

.checkbox__empty_block{
    width: 60px;
}
.checkbox_block{
    position: relative;
    display: flex;
    width: 60px;
    padding: 22px 20px 22px 23px;
}
.email_block{
    width: 117px;
}
.name_block{
    width: 96px;
}
.telephone_block{
    width: 189px;
}
.date_block{
    width: 114px;
}
.number_of_order_block{
    width: 123px;
}
.pay_block{
    width: 125px;
}
.delivery_block{
    width: 95px;
}
.adress_block{
    width: 125px;
}
.rating_block{
    width: 81px;
}
.delete_order{
    cursor: pointer;
    margin-left: 27px;
}

.admin_link .active{
    color: #FFEC00;
}










/* Верстка админ панели заказов */