/* Стили для админпанели с продуктами */
.admin_container {
    width: 100%;
    max-width: 1920px;
}

.admin_container__inner {
    margin-bottom: 50px;
    background: white;
    width: 100%;
    height: 100px;
}

.admin__container {
    position: relative;
    margin-left: 350px;
    max-width: 1528px;
    width: 100%;
    padding: 0 80px 0 146px;
}

.add_position {
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #000000;
    background: #FFEC00;
    border-radius: 15px;
    width: 231px;
    height: 60px;
}

.admin_panel_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.admin_panel_header p {
    font-weight: bold;
    font-size: 64px;
    line-height: 61px;
    color: #000000;
}

.positions__list {
    margin-top: 25px;
    max-height: 1200px;
    overflow: hidden;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 100px;
    background: #FFFFFF;
    border-radius: 25px;
}

.positions__list-item {
    justify-content: space-between;
    margin-bottom: 25px;
    padding-right: 80px;
    padding-left: 10px;
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
}

.list-item__img {
    width: 102px;
    height: 77px;
}

.list-item__main {
    max-width: 420px;
    width: 100%;
}

.list-item__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}

.visible_block {
    position: relative;
}

.list-item__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.list-item__price {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.list-item__working_panel {
    display: flex;
}

.working_panel_button {
    background: none;
    border: none;
}

.positions__list-item::after {
    bottom: 0;
    position: absolute;
    width: 95%;
    content: "";
    left: 25px;
    border: 1px solid #000000;
}

.delete__item {
    margin-left: 30px;
}

.admin_link .active {
    color: #FFEC00;
}

/* Стили для админпанели с продуктами */
