@keyframes order{
    0%{
        background: black;
    }
    100%{
        background: #FFEC00;;
    }
}

@keyframes order_first_line{
    0%{
        background: #FFEC00;;
    }
    100%{
        background: black;
        height: 10px;
        transform: rotateZ(-50deg)  translate(-130%,-70%);

    }
}
@keyframes order_second_line{
    0%{
        background: #FFEC00;;
    }
    100%{
        transform: rotateZ(130deg) translate(25%,100%);
        background: black;
    }
}
@keyframes showCounter {
    0%{
        opacity: 0;
        height: 0px;
        width:0px;
    }
    100%{
        opacity: 1;
        height: 44px;
        width: 100px;
    }
}


@keyframes hoverMap {
    0% {
        opacity: 0.5;
    }
}
