/* Стилизация первого блока корзины, непосредственно корзины */
body {
    background: rgba(0, 0, 0, 0.02);
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.title{
    margin: 145px 0 100px 0;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
}

.buscket_items_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 1500px;
    overflow: hidden;
}


.buscket_item{
    margin-bottom: 30px;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 28px 42px;
    background: #FCFCFC;
    box-shadow: 0px 4px 20px rgba(44, 56, 46, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.buscket_main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buscket_item_title{
    max-width: 553px;
    margin-bottom: 25px;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: start;
    color: #000000;
}

.buscket_item_description{
    max-width: 553px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.counter_block{
    padding: 12px 25px;
    align-items: center;
    display: flex;
    background: #F7F7F7;
    border-radius: 15px;
}

.btn{
    cursor: pointer;
    background: #F7F7F7;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #898A8D;
}

.counter{
    margin:  0 28px 0 32px ;
}

.buscket_item_price{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.delete_element{
    cursor: pointer;
}

.button_minus.active{
    opacity: 0.3;
    cursor: default;
}

.button_plus.active{
    opacity: 0.3;
    cursor: default;
}
/* Стилизация первого блока корзины, непосредственно корзины */



/* Стилизация третьего блока с промокодом и суммой заказа */
.pre_footer{
    margin-top: 150px;
}
.pre_footer_inner{
    display: flex;
    justify-content: space-between;
}
.pre_title{
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 50px;
    padding-left: 20px;
}
.promo_input{
    padding-left: 20px;
    width: 262px;
    height: 60px;
    border-top-left-radius: 15px;
    font-size: 22px;
    color: #000000;
    border-bottom-left-radius: 15px;
    border: 2px solid #000000;
}
.promo_input::placeholder{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #898A8D;
}
.send_promo{
    width: 146px;
    height: 60px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #000000;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFEC00;
}
.pre_footer__footer{
    display: flex;
    flex-direction: column;
}
.button_container{
    justify-content: flex-end;
    display: flex;
}
.place_for_promo{
    display: flex;
    align-items: center;
}
.menu_button{
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    height: 60px;
    background: #E5E5E5;
    width: 115px;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    margin-right: 30px;
    color: #000000;
}

.final_order{
    border-radius: 15px;
    background: #000000;
    height:  60px;
    width:  262px;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFEC00;
}

/* Стилизация третьего блока с промокодом и суммой заказа */