/* HEADER */


.header_inner{
    display: flex;
    align-items: center;
}

header{
    width: 100%;
    padding: 22px 0 0 0;
}

.nav__bar{
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1 1 auto;
}

.nav_link{
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10%;
}
.nav_link:hover{
    color: #FFEC00;
}

.header__inner_content{
    display: flex;
}


.nav_collapse{
    position: relative;
}

.header__nav_collapsible_menu{
    right: -40px;
    top: -500px;
    opacity: 0;
    width: 151px;
    height: 276px;
    background: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 31px 36px;
    z-index: 1000;
    position: absolute;
    transition: 1s;
}
.header__navigation_collapse-menu{
    width: 100%;
    position: absolute;
    padding-top: 20px;
    box-sizing: unset;
}
.nav_collapse:hover .header__nav_collapsible_menu{
    top: 10px;
    opacity: 1;
}
.nav_collapse:hover .header__arrow{
   transform: rotateZ(180deg);
}
.header__arrow{
    transition: 0.5s;
}
.header__arrow.active{
    transform: rotateZ(180deg);
}
.collapsible__menu_item{
    font-weight: 500;
    font-size: 18px;
    line-height: 45px;
    color: black;
}
.collapsible__menu_item:hover{
    color: #FFEC00;
}
.collapsible__menu_item:nth-child(5){
    margin-bottom: 0px;
}


.nav_collapse .nav_link{
    display: flex;
}





.header__phone{
    font-weight: bold;
}

.buscket_btn{
    width: 262px;
    height: 60px;
    background: #FFEC00;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.2em;
    margin-left: 30px;
}


.log__in_btn{   
    margin-left: 80px;
    width: 147px;
    height: 60px;
    border: 2px solid #000000;
    border-radius: 15px;
    background: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.2em;
}

.assessment{
    align-items: center;
    display: flex;
    margin-left: 116px;
}

.star_header{
    margin-left: 5px;
}

.header__phone{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__arrow{
    margin-left: 8px;
}





/* FOOTER */


footer{
    margin-top: 150px;
    padding: 50px 0 100px 0;
    min-height: 360px;
    width: 100%;
    background: #000000;
}

.footer__description{
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 262px;
}

.footer__place{
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    color: #FFFFFF;
}
.footer__inner_content{
    min-width: 262px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.footer__nav_link{
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer__inner{
    padding-right: 117px;
    display: flex;
}
.footer__logo{
    margin-bottom: 50px;
}
.footer__description{
    margin-bottom: 60px;
}
.footer__nav_bar{
    padding:64px 200px 0 200px;
    display: flex;
    flex-wrap: wrap;
}

.footer__nav_link{
    margin-left: 200px;
}
.footer__nav_link:nth-child(1),.footer__nav_link:nth-child(4){
    margin-left: 0px;
}
.footer__nav_link:nth-child(6){
    margin-left: 150px;
}
.footer__nav_link:nth-child(5){
    margin-left: 220px;
}
.footer__inner-contact{
    padding-top: 42px;
    display: flex;
    flex-direction: column;
}
.footer__phone{
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #FFEC00;
}
.footer__email{
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.fab{
    cursor: pointer;
    transition: 1s;
    color: #FFFFFF;
    font-size: 25px;
}
.fab:hover{
    color: #FFEC00;
}
.footer__assessment{
    display: flex;
    align-items: flex-start;
    line-height: 20px;
}
.footer__star{
    margin-left: 5px;
}
.fa-instagram{
    margin-left: 40px;
}