*{
    box-sizing: border-box;
}
/* Бордер бокс делает контейнер в котором некоторые стили (паддинг и бордер и тд) заимствуют размер , а не добавляют его */

button, 
button:active, 
button:focus {
    outline: none;
}
input[type=submit]
input[type=submit]:active,
input[type=submit]:focus{
    outline: none;
}
input[type=button]
input[type=button]:active,
input[type=button]:focus{
    outline: none;
}
/* Стили выше убирают обводку на кнопках при нажатии */

p{
    margin: 0;
}
/* С помощью стиля выше, мы убираем нежелательные отступы у простого текста */
input{
    -webkit-appearance: none;
    appearance: none;
}   
/* Стилем выше мы убираем браузерные стили у кнопок */

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
/* Обнуляем отступы у заглавий */

input[type=submit],input[type=number],input[type=text],input[type=button],input[type=radio], textarea, select {
    -webkit-appearance: none;
}
/* Убираем стандартные браузерные настройки у инпутов(для ввода номера, текста и тд) */
a { 
    color: #0E1D12;
    text-decoration: none;
}
/* Делаем стили для "a" стандартными */

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*--------------------*/

html {
    scroll-behavior: smooth;
}
/* Для перехода по якорям */
ul {
    list-style: none;
}
/* обнуляем стили для списков */
input[type=submit] {
    cursor: pointer;
}
input[type=button]{
    cursor: pointer;
}
/* Делаем взаимодействие сайта с пользователем более приятным, 
и обозначаем , что кнопки подсвечиваются другим курсором */




body {
    background: rgba(0, 0, 0, 0.02);
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}


.container{
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
}
@media(max-width:1780px){
    .container{
        padding: 0 30px;
    }
}