/* Стили для панели управления(левой части) */
.work_panel{
    position: fixed;
    background: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 0 0;
    left: 0;
    top: 0;
    height: 100vh;
    width: 392px;
}

.user_avatar{ 
    border-radius: 50%;
    border: 2px solid white;
}

.work_panel_photo{
    margin-bottom: 20px;
}
 
.user_name{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    height: 100px;
    max-width: 208px;
}

.work_panel__inner{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px 0 20px 0px;
    border-top: 2px solid #FFEC00;
    border-bottom: 2px solid #FFEC00;
}

.work_panel__inner a {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 30px 0;
}

.admin_link{
    transition: 0.5s;
    cursor: pointer;
}

.admin_link.active {
    color: #FFEC00; 
}
/* Стили для панели управления(левой части)*/