/* Стилизация первого блока + элементы слайдера */

main{
    margin-top: 70px;
}

.banner_slide{
    min-height: 600px;
    background: linear-gradient(270.05deg, #FFEC00 32.92%, #000000 102.13%);
    border-radius: 25px;
}

.banner_slide__inner{
    min-height: 600px;
    z-index: 1;
    background-image: url(../img/first_banner.svg);
}

.banner_board{
    position: relative;
}

.banner_slide__inner_content{
    padding: 100px 0 160px 150px;
}

.menu_list{
    padding: 0 146px;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    display: flex;
}

.menu__list_item{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 262px;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: #000000;
}
.menu__list_item p {
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF
}
.duners__{
    background: url('../img/duners.svg');
    background-position: center;
}
.burgers__{
    background: url("../img/Pizza.svg");
    background-position: center;
}
.skecks__{
    background: url("../img/snecks.svg");
    background-position: center;
}
.salats__{
    background: url("../img/salats.svg");
    background-position: center;
}
.soups__{
    background: url("../img/sups.svg");
    background-position: center;
}
/* Стилизация первого блока + элементы слайдера */

/* Стилизация второго блока(слайдер топ позиций) */

.top__position{
    margin-top: 210px;
}

.title_inner{
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    margin-bottom: 100px;
}

.top__position_slider_item{
    position: relative;
    padding: 36px 25px 50px 25px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0 15px;
    min-width:348px;
}

.top_pos_s_item_sale_pos{
    display: block;
    position: absolute;
    padding: 15px 34px;
    font-weight: normal;
    width: 109px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.135em;
    color: #FFEC00;
    background: #FF4040;
    border-radius: 10px;
}

.top_pos_s_item_title{
    margin: 30px 0 25px 0;
    text-align: start;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.top_pos_s_item_des{
    color: #000000;
}

.top_pos_s_item_footer{
    align-items: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.top_pos_s_item_price a{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.top_pos_s_item_price{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.top_pop_order_button{
    width: 176px;
    height: 50px;
    background: #FFEC00;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

/* Стилизация второго блока(слайдер топ позиций) */

/* общая стилизация списка позиций */

.positions_list{
    overflow: hidden;
    max-height: 1220px;
    display: flex;
    flex-wrap: wrap;
}
.positions{
    margin-top: 150px;
}


.position{
    height: 100%;
    max-height: 574px;
    position: relative;
    padding: 0px 25px 50px 25px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0 15px 30px 15px;
    max-width: 398px;
}
.position:hover{
    background: linear-gradient(180deg, #1a1919 80%, rgba(250, 250, 250, 0.1) 100%);
}
.position:hover .position_rank{
    z-index: 10;
}
.position_rank{
    display: none;
    position: absolute;
    padding: 15px 34px;
    font-weight: normal;
    width: 109px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.135em;
    color: #FFEC00;
    background: #FF4040;
    border-radius: 10px;
}

.position_title{
    max-height: 72px;
    overflow: hidden;
    margin: 30px 0 25px 0;
    text-align: start;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.position:hover .position_title{
    z-index: 10;
    color: #FFFFFF;
}
.position_des{
    max-height: 100px;
    overflow: hidden;
    color: #000000;
}
.position_photo{
    min-height: 274px;
    min-width: 274px;
}

.position:hover .position_des{
    z-index: 10;
    color: #FFFFFF;
}
.position_footer{
    align-items: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.position_price{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.position:hover .position_price{
    z-index: 10;
    color: #FFFFFF;
}

.position:hover .position_price a{
    z-index: 10;
    color: #FFFFFF;
} 
.position__order_btn{
    width: 176px;
    height: 50px;
    background: #FFEC00;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.position:hover .position__order_btn{
    z-index: 10;
}

.open_more{
    margin-top: 70px;
    width: 262px;
    height: 50px;
    background: #000000;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFEC00;
}
.buttons_block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Общая стилизация списка товаров */

/* Общая стилизация списка соусов и напитков */
.position_one{
    position: relative;
    padding: 36px 25px 50px 25px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0 15px 30px 15px;
    max-width: 398px;
    min-width: 398px;
}
.position_one:hover{
    background: linear-gradient(180deg, #1a1919 80%, rgba(250, 250, 250, 0.1) 100%);
}
.position_one:hover .position_one_rank{
    z-index: 10;
}
.position_one_rank{
    display: none;
    position: absolute;
    padding: 15px 34px;
    font-weight: normal;
    width: 109px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.135em;
    color: #FFEC00;
    background: #FF4040;
    border-radius: 10px;
}

.position_one_title{
    margin: 30px 0 25px 0;
    text-align: start;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.position_one:hover .position_one_title{
    z-index: 10;
    color: #FFFFFF;
}
.position_one_des{
    color: #000000;
}
.position_one_photo{
    min-height: 274px;
    min-width: 274px;
}

.position_one:hover .position_one_des{
    z-index: 10;
    color: #FFFFFF;
}
.position_one_footer{
    align-items: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.position_one_price{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.position_one:hover .position_one_price{
    z-index: 10;
    color: #FFFFFF;
}

.position_one:hover .position_one_price a{
    z-index: 10;
    color: #FFFFFF;
} 
.position_one__order_btn{
    width: 176px;
    height: 50px;
    background: #FFEC00;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.position_one:hover .position_one__order_btn{
    z-index: 10;
}
/* Общая стилизация списка соусов и напитков */

/* Стилизация блока доставка и оплата */
.dap_list{
    display: flex;
    justify-content: space-between;
}

.delivery_and_pay{
    margin-top: 150px;
}

.delivery_and_pay_item{
    width: 100%;
    max-width: 408px;
    min-width: 408px;
    max-height: 481px;
    min-height: 481px;
    height: 100%;
    padding: 50px 25px 0 25px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
    flex-direction: column;
}

.dap_item_title{
    margin-bottom: 25px;
    min-height: 72px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.dap_item_des{
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #898A8D;
}
.dep_item_phone{
    margin: 25px 0 50px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    color: #000000;
}
.dep_item_rejim{
    margin-top: 25px;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #898A8D;
}
.dep_item_rejim a{
    font-weight: bold;
}
.dap_item_assessment{
    margin: 14px 0 38px 0;
    font-weight: bold;
    font-size: 64px;
    line-height: 53px;
    text-align: center;
    color: #000000;
}

.zone_of_delivery{
    position: relative;
    cursor: pointer;
}

.zone_of_delivery_hidden_block{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.zone_of_delivery_hidden_block p {
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: #898A8D;
}
.zone_of_delivery:hover .zone_of_delivery_hidden_block{

    opacity: 1;
}
/* Стилизация блока доставка и оплата */

/* Стилизация фотографий для интсаграма */
    .instagramm_list{
        margin-top: 150px;
    }

    .istagramm_photo_list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .insta_photo_item{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
        max-width: 407px;
        width: 100%;
        height: 100%;
        max-height: 408px;
    }
    .insta_photo_fon{
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;
        left: 0;
        display: flex;
        align-items: center;
        transition: 0.7s;
        justify-content: center;
    }
    .insta_photo_item:hover .insta_photo_fon{
        opacity: 1;
    }
/* Стилизация фотографий для интсаграма */