/* Попап для заказа денеров */
.order_popup{
    z-index: 1000;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    height: 100vh ;
    top: 0;
    background: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(10px);
}
.order_popup.active{
    display: flex;
}
.suepr_container{
    height: auto;
    width: 100%;
    position: relative;
    max-width: 1920px;
}
.order_duner__modal_win{
    max-width: 1720px;
    width: 100%;
    height: auto;
    margin: 0  auto;
}
.order_duner__modal_win{
    padding: 91px 146px 100px 98px;
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}
.order_duner__modal_win-photo{
    min-width: 779px;
    min-height: 579px;  
    max-width: 779px;
    max-height: 579px;  
}
.order_duner__modal_win-inner_content{
    position: relative;
    max-width: 556px;
    width: 100%;
    margin-left: 146px;
}
.order_duner__modal_win-inner_content_title{
    font-weight: bold;
    font-size: 48px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 50px;
}
.order__modal_win-inner-content_des{
    font-size: 24px;
    margin-bottom: 50px;
}

.add_for_buscket{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: #FFEC00;
    border-radius: 15px;
    margin: 50px auto 0 auto;
    width: 407px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}



.add_for_buscket p{
    margin-left: 5px;
}

.add_for_duner_list_item{
    max-width: 164px;
    align-items: center;
    margin-right: 30px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    padding: 0 25px 15px 25px;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    min-width: 124px;
    height: 250px;
}
.add_for_duner_list_item_title{
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    color: #000000;
}
.add_for_duner_list_item_price{
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.adding_for_duner{
    display: block;
    transition: 1s;
    cursor: pointer;
    color: white;
    position: relative;
    background: #000000;
    border-radius: 10px;
    width: 44px;
    height: 44px;
}
.adding_counter_for_duner{
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    overflow: hidden;
    display: none;
    width: 100px;
    height: 44px;
    background: #FFEC00;
    border-radius: 10px;
    display: none;
}

.adding_counter_for_duner p {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.button_minus{
    background: #FFEC00;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.button_plus{
    background: #FFEC00;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.adding_for_duner .first__line{
    transform: translate(-50%,-50%) rotateZ(0deg);
    position: absolute;
    z-index: 100;
    background: #FFEC00;
    width: 4px;
    height: 17.6px;
    transition: 1s;
}
.adding_for_duner .second__line{
    transform: translate(-50%,-50%)  rotateZ(0deg);
    width:  17.6px;
    height: 4px;
    position: absolute;
    z-index: 100;
    background: #FFEC00;
    transition: 1s;
}
.kbju__focus{
    cursor: pointer;
    position: absolute;
    padding: 7px 22px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #C4C4C4;
    background: #F7F7F7;
    right: 150px;
    top: 84px;
    border-radius: 50px;
}
.focus__overlay{
    padding: 40px 25px;
    background: rgba(0, 0, 0, 0.85);
    flex-direction: column;
    position: absolute;
    align-items: center;
    height: auto;
    right: 115px;
    top: 170px;
    z-index: 1000;
    width: 400px;
    display: flex;
    border-radius: 15px;
}
.focus__overlay p, .focus__overlay a{
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.pfc{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pfc_items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pfc_items p {
    margin-bottom: 5px;
}
.energy__value{
    margin-top: 20px;
}
.focus__overlay::before{
    height: 21.5px;
    border: 20px solid transparent; border-bottom: 20px solid rgba(0, 0, 0, 0.85);
    position: absolute;
    content: "";
    width: 43px;
    right: 40px;
    top: -40px;
}

.close_popup_for_duner{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4000;
    position: absolute; 
    right: 37px;
    top: 5px;
    width: 25px;
    height: 25px;
}
.close_line_first{
    position: absolute;
    background: #ffffff;
    border-radius: 50px;
    width: 35px;
    height: 4px;
    transform: rotateZ(-45deg);
}
.close_line_second{
    position: absolute;
    background: #ffffff;
    border-radius: 50px;
    width: 35px;
    height: 4px;
    transform: rotateZ(45deg);
}


/* Попап для заказа денеров */



/* Попап для регистрации в ЛК */
.log_in_popup{
    z-index: 1000;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    height: 100vh ;
    top: 0;
    background: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(10px);
}

.log_in_popup.active{
    display: flex;
}

.log_in_popup .super_container{
    max-width: 1212px;
    width: 100%;
    position: relative;
}

.close_popup{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4000;
    position: absolute; 
    right: 37px;
    top: 5px;
    width: 25px;
    height: 25px;
}

.log_in_modal_win{
    background: #FCFCFC;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    max-width: 1136px;
    width: 100%;
    padding: 100px 0;
}

.log_in_title{
    font-weight: bold;
    font-size: 48px;
    line-height: 75px;
    color: #000000;
    margin-bottom: 25px;
}

.log_in_modal_win{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log_in_title_inner{
    max-width: 619px;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #0E1D12;
    margin-bottom: 50px;
}

#phone{
    margin-bottom: 75px;
    padding-left:30px;
    background: #E9E9E9;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    text-align: start;
    color: #000000;
    width: 322px;
    height: 60px;
}
.number_title{
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 25px;
    color: #0E1D12;
}

#phone::placeholder{
    font-size: 18px;
    line-height: 17px;
    text-align: start;
    color: rgba(0, 0, 0, 0.7);
}

.send_code{
    background: #FFEC00;
    border-radius: 15px;
    width: 262px;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    height: 60px;
    margin-bottom: 25px;
}
.send_inner{
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #0E1D12;
    max-width: 330px;
}

/* Попап для регистрации в ЛК */





/* Попап "Куда доставить?" */

.where_sending_popup{
    z-index: 1000;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    height: 100vh ;
    top: 0;
    background: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(10px);
}
.where_sending_popup.active{
    display: flex;
}

.where_sending_popup .super_container{
    max-width: 1212px;
    width: 100%;
    position: relative;
}

.where_sending_modal_win{
    padding: 100px 291px;
    max-width: 1136px;
    width: 100%;
    background: #FCFCFC;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.where_sending_title{
    font-weight: bold;
    font-size: 48px;
    line-height: 75px;
    color: #000000;
}

.where_sending_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.radio_blocks{
    width: 100%;
    margin-top: 40px;
    display: flex;
    margin-bottom: 40px;
}
.input_block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.delivery_inp{
    padding-left: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 75px;
    color: #000000;
}

.delivery_inp::placeholder{
    font-weight: normal;
    font-size: 14px;
    line-height: 75px;
    color: #C4C4C4;
}

.street_inp{
    width: 408px;
    height: 50px;
    margin-bottom: 30px;
}

.house_inp{
    width: 116px;
    height: 50px;
}

.flat_inp{
    width: 116px;
    height: 50px;
}

.entrance_inp{
    width: 116px;
    height: 50px;
}

.code_inp{
    width: 116px;
    height: 50px;
}

.floor_inp{
    width: 116px;
    height: 50px;
}

.comment_for_order{
    margin-top: 30px;
    width: 100%;
    height: 100px;
}

.send_data{
    align-self: center;
    margin-top: 50px;
    width: 262px;
    height: 60px;
    background: #FFEC00;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.pick_up_block{
    padding: 25px 30px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    width: 322px;
    align-self: center;
}

.adress_for_pick_up{
    margin-bottom: 18px;
    margin-top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}

.working_mode{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 5px;
}

.working_mode_inner{
    color: #FFEC00;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 24px;
}

.pick_up_block_inner{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.8);
}


/* Попап "Куда доставить?" */





/* Попап создания позиции */

.admin__container_{ 
    position: absolute;
    top: 0;
    left: 358px;
    max-width: 1528px;
    width: 100%;

}
.adding_position_popup{
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: 5000;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: static;
    left: 0;
    min-height: 100vh;
    height: auto;
    top: 0;
    background: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(10px);
}
.adding_position_popup.active{
    display: flex;
}

.adding_position_modal_win{
    position: relative;
    max-width: 991px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    padding: 100px 145px 50px 145px;
    flex-direction: column;
    align-items: center;
}

.close_popup_for_adding{
    width: 30px;
    height: 30px;
    z-index: 8000;
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 50px;
}



.close_popup_for_adding span{
    background: black;
}
.adding_position_modal_win_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    height: auto;
}

.adding_position_modal_win_content h3{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    
    line-height: 35px;
    color: #000000;
    margin-bottom: 25px;
}
.picking_item_block{
    position: relative;
}
.pick_item{
    top: 60px;
    position: absolute;
    z-index: 5000;
    border-radius: 15px;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin-bottom: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    width: 407px;
    height: auto;
    color: black;
    background: #FCFCFC;
}
.pick_item.active{
    display: flex;
}
.pick_item label{
    border-radius: 15px;
    transition: 0.7s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
}
.pick_item label:hover{
    background: #FFEC00;
}

.pick_item_btn{
    margin-bottom: 25px;
    padding: 20px 20px 8px 12px;
    display: flex;
    width: 407px;
    height: 50px;
    background: #F7F7F7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.pick_item_btn p {
    display: flex;
    align-items: center;
}
.pick_item_btn p img{
    margin-left: 10px;
}

.adding_position_modal_win_content p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 35px;
    color: #000000;
}
.adding_position_rank{
    display: flex;
    align-items: center;
}
.static_header_for_popup{
    width: 100%;
    display: flex;
    align-items: center;
}

.adding_photo_block{
    position: relative;
    margin-right: 25px;
    width: 262px;
    height: 262px;
    background: #FFEC00;
    border-radius: 15px;
}

#setPhoto{
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 262px;
    appearance: none;
    -webkit-appearance: none;
}

.added_photo{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.static_header_inner_for_popup{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name_of_item{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 40px;
    padding-left: 10px;
    width: 70%;
    min-width: 180px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.name_of_item::placeholder{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.7);
}

.static_header__inner_for_popup{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dinamic_elem_in_header{
    width: 100%;
}

.adding_item_price{
    display: flex;
}

.adding_item_description{
    display: flex;
}

.adding_text_area{
    padding: 20px 20px 8px 12px;
    background: #F7F7F7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    max-width: 511px;
    min-height: 127px;
    width: 100%;
    height: auto;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}

.adding_text_area::placeholder{
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}

.dinamic_main_for_popup{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.main_for_duner{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}
.working_block{
    flex-direction: column;
    margin-bottom: 25px;
    min-height: 260px;
    background: #F7F7F7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 20px 0px 25px 20px;
    display: flex;
}

.composition_block{
    padding: 20px 50px 25px 20px;
}

.composition_block{
    max-width: 262px;
    width: 100%;
    height: auto;
    min-height: 260px;
    margin-right: 30px;
    flex-direction: column;   
    align-items: flex-start;
}

.composition_block textarea{
    background: #F7F7F7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    min-height: 30px;
    height: auto;
    min-width: 50px;
    width: auto;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}
.composition_block h3{
    margin-bottom: 0px;
}

.none_changing_composit{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.changing_composit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.kbju_block{
    max-width: 407px;
    width: 100%;
    min-height: 260px;
    height: auto;
}

.kbju_block input{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

}

/* .kbju_block_input input {
    margin-left: 15px;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
    min-height: 30px;
    height: auto;
    min-width: 50px;
    width: auto;
} */

.basis_block{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 25px 20px;
    max-width: 262px;
    width: 100%;
    margin-right: 30px;
    min-height: 221px;
    height: auto;
}

.basis_changing_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* .basis_changing_block input{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin-bottom: 25px;
    min-height: 30px;
    height: auto;
    min-width: 50px;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
    width: auto;
} */

.meet_block{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 221px;
    height: auto;
    max-width: 407px;
    padding: 20px 80px 25px 20px;
}
.meet_block.active{
    max-width: 262px;
    margin-right: 30px;
    padding: 20px 80px 0px 20px;
}


.meet_changing_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .meet_changing_block input{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin-bottom: 25px;
    min-height: 30px;
    height: auto;
    min-width: 50px;
    width: auto;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
} */


.dinamic_main_for_popup input {
    background: #F7F7F7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin-bottom: 25px;
    min-height: 30px;
    max-height: 30px;
    height: auto;
    min-width: 50px;
    max-width: 50px;
    padding-left: 10px;
    margin-left: 15px;
    width: auto;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
}



.kbju_block_input{
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

.kbju_block_input input {
    margin-bottom: 0px;
}
.kbju_block_input p {
    margin-bottom: 0;
}
.size_block{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 0px 20px;
    max-width: 262px;
    width: 100%;
    margin-right: 30px;
    min-height: 221px;
    height: auto;
}
.size_block input {
    margin-left: 0px;
}

.size_changing_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.final_block{
    display: flex;
    flex-direction: column;
}
.final_block.active{
    margin-bottom: 30px;
    width: 100%;
    flex-direction: row;
}
.final_block.active .price_block{
    min-width: 0px;
 max-width: 262px;
 max-height: 80px;
 min-height: 80px;
 margin-bottom: 0px;
 margin-right: 30px;
}
.final_block.active .adding_item_block{
    width: 100%;
    max-height: 80px;
    min-height: 80px;
    margin-bottom: 0px;
   }
.price_block{
    flex-direction: row;
    min-width: 407px;
    max-width: 407px;
    width: 100%;
    min-height: 80px;
    height: auto;
    padding: 20px  60px 30px 20px;
}
.basis_block input{ 
    margin-left: 0px;
}

.adding_item_block{
    max-width: 407px;
    width: 100%;
    min-height: 80px;
    height: auto;
    padding: 20px 20px 30px 42px;
}

.adding_item__list{
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: hidden;
}

.adding__item{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-height: 50px;
    min-height: 50px;
    width: 100%;
}

.adding__item label img{
    margin-right: 40px;
    max-width: 50px;
    width: 100%;
    height: 100%;
    max-height: 50px
}

.static_footer_for_popup{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.meet_block input {
    margin-left: 0px;
}
.static_footer_for_popup input {
    background: #FFEC00;
    border-radius: 15px;
    width: 167px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: #000000;
    margin-left: 25px;
}
.adding_item_block h3 {
    display: flex;
    align-items: center;
}

.adding_item_block h3 img{
    margin-left: 15px;
}
.adding_item__list{
    display: flex;
    flex-direction: column;
}
.dinamic_arrows{
    transition: 0.5s;
}
.dinamic_arrows.active{
    transform: rotateZ(90deg);
}

.adding_item__list input {
    background: unset;
    box-shadow: unset;
    border-radius: unset;
    margin-bottom: unset;
    min-height: unset;
    height: unset;
    min-width: unset;
    max-width: unset;
    padding-left: unset;
    margin-left: unset;
    width: unset;
    font-size: unset;
    line-height: unset;
    color: unset;
}
/* Попап создания позиции */


/* Попап редактирования позици */






.redacting_position_popup{
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: 5000;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: static;
    left: 0;
    min-height: 100vh;
    height: auto;
    top: 0;
    background: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(10px);
}

.redacting_position_popup.active{
    display: flex;
}

/* Попап редактирования позици */





/* Попап для уточнения удаления позции */
.are_you_serious_popup{
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: 5000;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: static;
    left: 0;
    min-height: 100vh;
    height: auto;
    top: 0;
    background: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(10px);
}

.are_you_serious_popup.active{
    display: flex;
}
.are_you_serious_modal_win{
    width: 408px;
    height: 181px;
    padding: 25px 50px;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.delete_popup_title{
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
}

.buttons_delete_block{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.working_btn{
    background: #F7F7F7;
    border-radius: 5px;
    width: 141px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Попап для уточнения удаления позции */





/* Попап для создания заказа в админ панели */
input[type=radio] {
    -webkit-appearance: none;
    display: none;
}


.adding_order_popup{
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: 5000;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: static;
    left: 0;
    min-height: 100vh;
    height: auto;
    top: 0;
    background: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(10px);
}
.adding_order_popup.active{
    display: flex;
}

.adding_order_modal_win{
    max-width: 991px;
    position: relative;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    padding: 100px 145px 50px 145px;
    flex-direction: column;
    align-items: center;
}

.adding_order_modal_win_content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.adding_order_modal_win_content_left{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.work_left_container{
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    padding: 20px 0 35px 16px;
    max-width: 408px;
    min-width: 408px;
    width: 100%;
    min-height: 85px;
    background: #F7F7F7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.work_left_container input[type='text'],
.work_left_container input[type='number']{
    background: #F7F7F7;
    border:none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.09);
    min-width: 70px;
    width: auto;
    height: 35px;
}

.title_of_container{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
    margin-right: 15px;
}
.delivery_container_header{
    align-items: center;
    display: flex;
}
.title_of_container img{
    margin-left: 10px;
}
.status_container_header{
    align-items: center;
    display: flex;
}
.pay_container_header{
    align-items: center;
    display: flex;
}
.delivery_container{
    flex-direction: column;
    align-items: flex-start;
}

.status_container{
    flex-direction: column;
    align-items: flex-start;    
}

.work_right_container{
    padding: 20px 0 35px 16px;
    background: #F7F7F7;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    max-width: 261px;
    min-width: 261px;
    margin-bottom: 25px;
    width: 100%;
    min-height: 85px;
    align-items: center;
    display: flex;
}

.work_right_container input[type='text'],
.work_right_container input[type='number']{
    background: #F7F7F7;
    border:none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.09);
    min-width: 70px;
    width: auto;
    height: 35px;
}

.pay_container{
    flex-direction: column;
    align-items: flex-start;
}
.adding_order_modal_win_content_footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.save_order{
    background: #FFEC00;
    border-radius: 15px;
    width: 167px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: #000000;
}
.pay_container_menu{
    display: none;
    flex-direction: column;
}
.pay_container_menu.active {
    display: flex;
}
.status_container_menu{
    display: none;
    flex-direction: column;
}
.status_container_menu.active {
    display: flex;
}
.delivery_container_menu{
    display: none;
    flex-direction: column;
}
.delivery_container_menu.active{
    display: flex;
}

/* Попап для создания заказа в админ панели */






/* Активные состояния */

.adding_for_duner.active.disable{

}

.adding_for_duner.active{
    animation-name: order;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.adding_for_duner.active .first__line{
    animation-name: order_first_line;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.adding_for_duner.active .second__line{
    animation-name: order_second_line;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}


.adding_counter_for_duner.active{
    display: flex;
    animation-name: showCounter;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.button_minus.active{
    opacity: 0.3;
    cursor: default;
}
.button_plus.active{
    opacity: 0.3;
    cursor: default;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
.fade-enter, .fade-leave-to  {
    opacity: 0;
}

.upArrow{
    transition: 0.5s;
}
.upArrow.active{
    transform: rotateZ(180deg);
}