/* Стилизация радиокнопок для попапа с дёнерами */

.radio_buttons{
    display: flex;
    width:100%;
    max-width: 553px;
    border-radius: 15px;
    overflow: hidden;
}
.filters_radio label{
    cursor: pointer;
    transition: 1s;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    box-sizing: border-box;
    background: #F7F7F7;
    padding: 12px 0;
    min-width: 183px;
    text-align: center;
}
.filters_radio{
    
    display: flex;
    align-items: center;
}
.radio_button_for_size{
    margin-bottom: 50px;
}
.radio_button_for_roll{
    margin-bottom: 50px;
}
.radio_button_for_meat{
    margin-bottom: 100px;
}

.filters_radio input[type='radio']:checked + label{
    background: #000000;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #FFEC00;
}

/* Стилизация радиокнопок для попапа с дёнерами */


/* Стилизация радиокнопок для окна доставки */

.radio_blocks{
    display: flex;
    width:100%;
    border-radius: 15px;
    overflow: hidden;
}
.radio_block label{
    border: none;
    cursor: pointer;
    transition: 1s;
    font-weight: 500;
    font-size: 24px;
    line-height: 75px;
    color: #C4C4C4;
    box-sizing: border-box;
    background: none;
    text-align: center;
}
.radio_block{
    display: flex;
    align-items: center;
}

.radio_block input[type='radio']:checked + label{
    background: none;
    color: #000000;
}
.pickup_block{
    margin-left: 30px;
}

/* Стилизация радиокнопок для окна доставки */

.place_for_pick_up label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 32px;
    margin-right: 0;
    user-select: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}

.place_for_pick_up label::after{
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 4px;
    bottom: 5px;
    border-radius: 50%;
}

.place_for_pick_up label::before{
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-radius: 50%;
    border: 1px solid rgba(75, 85, 99, 0.15);
}

.place_for_pick_up input[type=radio]:checked + label:before {
    border: 1px solid #000000;
    transition: 0.5s;
}

.place_for_pick_up input[type=radio]:checked + label:after {
    background: #000000;
    transition: 0.5s;
}





/* Стилизация кнопок для радиобаттона на попапе доставки */





/* Стилизация радиокнопок для админки с продуктами */


.admin_radio_block{
    justify-content: space-between;
    margin-top: 50px;
    display: flex;
    width:100%;
    overflow: hidden;
}
.admin_radio_block__item label{
    margin-right: 30px;
    cursor: pointer;
    transition: 1s;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: #000000;
    box-sizing: border-box;
    background: #F7F7F7;
    padding: 18px 0;
    min-width: 110px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
.admin_radio_block__item:nth-child(9) label{
    margin-right: 0px;
}
.admin_radio_block__item{
    display: flex;
    align-items: center;
}

.admin_radio_block__item input[type='radio']:checked + label{
    background: #000000;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #FFEC00;
}


/* Стилизация радиокнопок для админки с продуктами */




/* Стилизация чекбокса для попапа создания  товара */

.adding_position_rank label{
    width: 109px;
    height: 43px;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.135em;
    color: #C4C4C4;
    font-family: Russo One;
    transition: 0.8s;
}

.adding_position_rank input[type='checkbox']:checked + label{
    background: #FFEC00;
    border: none;  
    color: #000000; 
}

/* Стилизация чекбокса для попапа создания  товара */




/* Стилизация чекбоксов для попапа создания товара при выборе добавок */

.adding__item label::before{
    transition: 0.4s;
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2000;
    right: 0px;
    top: 10px;
    background: black;
    border-radius: 7px;
}
.adding__item label::after{
    fill: yellow;
    transition: 0.4s;
    z-index: 2200;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 16px;
    right: 7px;
    content: url('../img/PLUS.svg');
}

.adding__item input[type='checkbox']:checked + label:before{
    background: yellow;
}
.adding__item input[type='checkbox']:checked + label:after{
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

.adding__item  label {
    display: flex;
    align-items: center;
}

.adding__item  label p{
    font-size: 14px;
    line-height: 36px;
    color: #000000;
    max-height: 36px;
    overflow: hidden;
    margin-bottom: 0px;
    max-width: 150px;
}


/* Стилизация чекбоксов для попапа создания товара при выборе добавок */


/* Стилизация чекбокса видимости */


.visible_button + label{
    width: 34px;
    height: 14px;
    background:#C4C4C4;
    display: flex;
    border-radius: 7px;
}

.visible_button + label::after{
    content: '';
    position: absolute;
    background: #FFEC00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: -3px;
    right: 100px;
    transition: 0.5s;
} 

.visible_button:checked + label::after{
    right: 80px;
    background: black;
}

/* Стилизация чекбокса видимости */



/* Стили чекбокса для панели заказов */

.checkbox_block  label{
    width: 17px;
    height: 17px;
    border: 1px solid #000000;
    border-radius: 3px;
    display: flex;
}

.checkbox_block  label:after{
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 3px;
    top: 43%;
    left: 43%;
    background: none;
}
.checkbox_block input[type='checkbox']:checked + label::after{
    background: black;
}


/* Стили чекбокса для панели заказов */







/* Стили чекбоксов для попапа создания заказов */

.delivery_container_menu label {
    display: flex;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
}

.status_container_menu label{
    display: flex;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
}

.pay_container_menu label{
    display: flex;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 35px;
    color: #000000;
}

.main_btn{
    transition: 0.6s;
}

.main_btn:hover{
    background: #FFF35D;
}

.open_more{
    cursor: pointer;
    transition: 0.6s;
}

.open_more:focus{
    background: #FFEC00;
    color: #000000;

}
/* Стили чекбоксов для попапа создания заказов */