<template>
    <div class="adding_position_popup" id="adding_position_popup" :class="{active : isActive}">
        <form class="adding_position_modal_win" id="adding_form" enctype="multipart/form-data">
            <div class="close_popup_for_adding" @click="closePopup">
                <span class="close_line_first"></span>
                <span class="close_line_second"></span>
            </div>
            <div class="adding_position_modal_win_content">
                <div class="static_header_for_popup">
                    <div class="adding_photo_block">
                        <img src="" alt="" class="added_photo">
                        <input type="file" ref="file" value="tmpSrc" id="setPhoto" @click="getUrl"
                               required
                               @change="changeSrc()">
                    </div>
                    <div class="static_header_inner_for_popup">
                        <div class="static_header__inner_for_popup">
                            <input type="text" placeholder="Название" name="itemsName" required
                                   class="name_of_item">


                            <div class="adding_position_rank">
                                <input type="checkbox" name="positionRank" @change="topRank=!topRank"
                                       id="adding_rank" :value="topRank">
                                <label for="adding_rank">TOP</label>
                            </div>
                        </div>
                        <div class="picking_item_block">
                            <div class="pick_item_btn" @click="seen = !seen"><p> {{ categoryPicked }} <img src=""
                                                                                                           class="upArrow"
                                                                                                           alt=""
                                                                                                           :class="{active : seen}">
                            </p></div>
                            <div class="pick_item" :class="{active : seen}">
                                <input type="radio" name="typeOfFood" id="dunerItem__" v-model="picked"
                                       @change="changePopup(picked)" value="1">
                                <label for="dunerItem__" @click="seen = !seen">Дёнер</label>
                                <input type="radio" v-model="picked" name="typeOfFood" id="burgerItem__"
                                       @change="changePopup(picked)" value="2">
                                <label for="burgerItem__" @click="seen = !seen">Бургер</label>
                                <input type="radio" v-model="picked" name="typeOfFood" id="kebabItem__"
                                       @change="changePopup(picked)" value="3">
                                <label for="kebabItem__" @click="seen = !seen">Шашлык</label>
                                <input type="radio" v-model="picked" name="typeOfFood" id="sneckItem__"
                                       @change="changePopup(picked)" value="4">
                                <label for="sneckItem__" @click="seen = !seen">Снек</label>
                                <input type="radio" v-model="picked" name="typeOfFood" id="soupItem__"
                                       @change="changePopup(picked)" value="5">
                                <label for="soupItem__" @click="seen = !seen">Суп</label>
                                <input type="radio" v-model="picked" name="typeOfFood" id="salatItem__"
                                       @change="changePopup(picked)" value="6">
                                <label for="salatItem__" @click="seen = !seen">Салат</label>
                                <input type="radio" v-model="picked" name="typeOfFood" id="drinkItem__"
                                       @change="changePopup(picked)" value="7">
                                <label for="drinkItem__" @click="seen = !seen">Напиток</label>
                                <input type="radio" v-model="picked" name="typeOfFood" id="souseItem__"
                                       @change="changePopup(picked)" value="8">
                                <label for="souseItem__" @click="seen = !seen">Соус</label>
                                <input type="radio" v-model="picked" name="typeOfFood" id="addingItem__"
                                       @change="changePopup(picked)" value="9">
                                <label for="addingItem__" @click="seen = !seen">Добавка</label>
                            </div>
                        </div>
                        <div class="dinamic_elem_in_header">
                                    <textarea name="itemDescription" id="adding_item_description"
                                              placeholder="Описание:" class="adding_item_description adding_text_area"
                                              v-if="!DASSWitch"></textarea>
                            <textarea name="priceForAddingItem" placeholder="Цена:" id="adding_item_price"
                                      class="adding_item_price adding_text_area" v-if="DASSWitch"></textarea>
                        </div>
                    </div>
                </div>
                <div class="dinamic_main_for_popup">

                    <div class="composition_block working_block"
                         v-if="dunerSwitch || otherMainFoodSwitch || otherFoodSwitch">
                        <h3 class="working_block_title">Состав:</h3>

                        <div class="none_changing_composit">
                            <h3>Не изменяемые :</h3>
                            <textarea name="non_changing_elem" class="non-canging-elem"
                                      id="non-canging-elem"></textarea>
                        </div>
                        <div class="changing_composit">
                            <h3>Изменяемые :</h3>
                            <textarea name="changing_elem" class="canging-elem"
                                      id="canging-elem"></textarea>
                        </div>
                    </div>
                    <div class="kbju_block working_block" v-if="dunerSwitch || otherMainFoodSwitch || otherFoodSwitch">
                        <h3 class="working_block_title">Калорийность</h3>

                        <div class="kbju_block_input">
                            <p>Жиры:</p>
                            <input type="text" name="fats">
                        </div>
                        <div class="kbju_block_input">
                            <p>Белки:</p>
                            <input type="text" name="proteins">
                        </div>
                        <div class="kbju_block_input">
                            <p>Угдеводы:</p>
                            <input type="text" name="carbohidrates">
                        </div>
                        <div class="kbju_block_input">
                            <p>Энергетическая ценность:</p>
                            <input type="text" name="callories">
                        </div>
                    </div>


                    <div class="basis_block working_block" v-if='dunerSwitch'>
                        <div class="basis_non_changing_block">
                            <h3 class="working_block_title">Основа:</h3>

                            <p>Лаваш</p>
                            <p>Багет</p>
                            <p>Лепешка</p>
                        </div>
                        <div class="basis_changing_block">
                            <h3 class="working_block_title">Цена:</h3>

                            <input type="text" name="lavash_price">

                            <input type="text" name="baget_price">

                            <input type="text" name="lepeshka_price">
                        </div>

                    </div>

                    <div class="meet_block working_block" v-if="dunerSwitch || otherMainFoodSwitch"
                         :class="{active :  otherMainFoodSwitch}">
                        <div class="meet_non_changing_block">
                            <h3 class="working_block_title">Мясо:</h3>

                            <p>Курица</p>
                            <p>Говядина</p>
                            <p>Свинина</p>
                        </div>
                        <div class="meet_changing_block">
                            <h3 class="working_block_title">Цена:</h3>

                            <input type="text" name="chicken_price">

                            <input type="text" name="beef_price">

                            <input type="text" name="prok_price">
                        </div>
                    </div>
                    <div class="size_block working_block" v-if="dunerSwitch">
                        <div class="size_non_changing_block">
                            <h3 class="working_block_title">Размер:</h3>

                            <p>Средняя</p>
                            <p>Мега</p>
                            <p>Двойной</p>
                        </div>
                        <div class="size_changing_block">
                            <h3 class="working_block_title">Цена:</h3>

                            <input type="text" name="normal_price">

                            <input type="text" name="mega_price">

                            <input type="text" name="double_price">
                        </div>
                    </div>
                    <div class="final_block" v-if="dunerSwitch || otherMainFoodSwitch || otherFoodSwitch"
                         :class="{active :  otherFoodSwitch}">
                        <div class="price_block working_block">
                            <h3 class="working_block_title">Цена:</h3>

                            <input type="text" name="itemPrice">
                        </div>
                        <div class="adding_item_block working_block">
                            <h3 class="working_block_title" @click="show = !show" :class="{active : show}">
                                Добавки <img class="upArrow" :class="{active : show}" src="" alt=""></h3>

                            <div class="adding_item__list" v-if="show">
                                <div class="adding__item" v-for="item in addingItemArr">
                                    <input type="checkbox" @change="turningItem(item)" name="title" :id="item.id"
                                           :value='item.id'>
                                    <label :for="item.id"><img :src="item.src" alt="">
                                        <p>{{ item.title }}</p></label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="static_footer_for_popup">
                    <input type="submit" class="save_item" @click="saveItem" value="Сохранить">
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import ViewProductsComponent from "./ViewProductsComponent";

export default {
    comments: {
        ViewProductsComponent
    },
    data: function () {
        return {
            isActive: false,
            dunerSwitch: true,
            otherMainFoodSwitch: false,
            otherFoodSwitch: false,
            DASSWitch: false,
            addingItemArr: [],
            show: false,
            seen: false,
            topRank: false,
            pp: "",
            picked: '',
            tmpSrc: "",
            base64Img: "",
            turningItemsArr: [],
            categoryPicked: "Категория",
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            file: '',
        }
    },
    created() {
        this.$root.$on('openPopup', data => {
            this.isActive = true;
        });
        this.changePopup();
    },
    mounted() {
        axios
            .get("")
            .then(response => {
                this.addingItemArr = response.data;
            })
    },
    methods: {
        closePopup: function () {
            this.isActive = false;
        },

        unserialize: function (data) {
            data = data.split('&');
            var response = {};
            for (var k in data) {
                var newData = data[k].split('=');
                response[newData[0]] = newData[1];
            }
            return response;
        },
        saveItem: function (e) {
            e.preventDefault();
            var form_data = $("#adding_form").serialize();
            var newFormData = this.unserialize(form_data);
            newFormData.image = this.$refs.file.files[0];
            var formData = new FormData();
            for(let i = 0 ; i < Object.keys(newFormData).length; i++){
                formData.append(`${Object.keys(newFormData)[i]}`, Object.values(newFormData)[i])
            }
            axios
                .post("/productAdd", formData)
                .then(response => {
                    this.isActive = false;
                    alert("Товар успешно создан");
                })
        },
        changePopup: function (picked) {
            switch (picked) {
                case '1':
                    this.categoryPicked = "Дёнер";
                    this.dunerSwitch = true;
                    this.otherMainFoodSwitch = false;
                    this.sneckSwitch = false;
                    this.soupSwitch = false;
                    this.salatSwitch = false;
                    this.DASSWitch = false;
                    break;
                case '2':
                    this.categoryPicked = "Бургер";
                    this.dunerSwitch = false;
                    this.otherMainFoodSwitch = true;
                    this.sneckSwitch = false;
                    this.soupSwitch = false;
                    this.salatSwitch = false;
                    this.DASSWitch = false;
                    break
                case '3':
                    this.categoryPicked = "Шашлык";
                    this.dunerSwitch = false;
                    this.otherMainFoodSwitch = true;
                    this.sneckSwitch = false;
                    this.soupSwitch = false;
                    this.salatSwitch = false;
                    this.DASSWitch = false;
                    break;
                case '4':
                    this.categoryPicked = "Снек";
                    this.dunerSwitch = false;
                    this.otherMainFoodSwitch = false;
                    this.otherFoodSwitch = true;
                    this.DASSWitch = false;
                    break;
                case '5':
                    this.categoryPicked = "Суп";
                    this.dunerSwitch = false;
                    this.otherMainFoodSwitch = false;
                    this.otherFoodSwitch = true;
                    this.DASSWitch = false;
                    break;
                case '6':
                    this.categoryPicked = "Салат";
                    this.dunerSwitch = false;
                    this.otherMainFoodSwitch = false;
                    this.otherFoodSwitch = true;
                    this.DASSWitch = false;
                    break;
                case '7':
                    this.categoryPicked = "Напиток";
                    this.dunerSwitch = false;
                    this.otherMainFoodSwitch = false;
                    this.otherFoodSwitch = false;
                    this.DASSWitch = true;
                    break;
                case '8':
                    this.categoryPicked = "Соус";
                    this.dunerSwitch = false;
                    this.otherMainFoodSwitch = false;
                    this.otherFoodSwitch = false;
                    this.DASSWitch = true;
                    break;
                case '9':
                    this.categoryPicked = "Добавка";
                    this.dunerSwitch = false;
                    this.otherMainFoodSwitch = false;
                    this.otherFoodSwitch = false;
                    this.DASSWitch = true;
                    break;

            }
        },
        turningItem : function (item){
          this.turningItemsArr.push(item.id)
        },
        getUrl: function (event) {
            this.pp = $(event.target)[0];
        },
        readURL: function (input) {
            this.file = input.files[0];
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(input).parent().children(".added_photo").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        },
        changeSrc: function (event) {
            this.readURL(this.pp)
        },


    }
}
</script>
