<template>
    <div class="admin_container" id="admin_container">
        <div class="admin_panel_menu">
            <div class="admin_container__inner"></div>
            <div class="admin__container">
                <div class="admin_panel_header">
                    <p>Меню</p>
                    <button class="add_position" @click="openPopup">+ Добавить</button>
                </div>
                <div class="admin_radio_block">
                    <div class="admin_radio_block__item">
                        <input type="radio" name="type" id="duners" @change="log(picked)" value="1"
                               v-model="picked">
                        <label for="duners">Дёнеры</label>
                    </div>
                    <div class="admin_radio_block__item">
                        <input type="radio" name="type" id="burgers" @change="log(picked)" value="2"
                               v-model="picked">
                        <label for="burgers">Бургеры</label>
                    </div>
                    <div class="admin_radio_block__item">
                        <input type="radio" name="type" id="kebabs" @change="log(picked)" value="3"
                               v-model="picked">
                        <label for="kebabs">Шашлык</label>
                    </div>
                    <div class="admin_radio_block__item">
                        <input type="radio" name="type" id="snecks" @change="log(picked)" value="4"
                               v-model="picked">
                        <label for="snecks">Снеки</label>
                    </div>
                    <div class="admin_radio_block__item">
                        <input type="radio" name="type" id="salats" @change="log(picked)" value="5"
                               v-model="picked">
                        <label for="salats">Салаты</label>
                    </div>
                    <div class="admin_radio_block__item">
                        <input type="radio" name="type" id="soups" @change="log(picked)" value="6"
                               v-model="picked">
                        <label for="soups">Супы</label>
                    </div>
                    <div class="admin_radio_block__item">
                        <input type="radio" name="type" id="drinks" @change="log(picked)" value="7"
                               v-model="picked">
                        <label for="drinks">Напитки</label>
                    </div>
                    <div class="admin_radio_block__item">
                        <input type="radio" name="type" id="souses" @change="log(picked)" value="8"
                               v-model="picked">
                        <label for="souses">Соусы</label>
                    </div>
                    <div class="admin_radio_block__item">
                        <input type="radio" name="type" id="adding_item" @change="log(picked)" value="9"
                               v-model="picked">
                        <label for="adding_item">Добавки</label>
                    </div>
                </div>
                <div class="positions__list">
                    <div class="positions__list-item"
                         v-if="!mini"
                         v-for="(position,index) in tmpList">
                        <img :src="position.image" alt="" class="list-item__img">
                        <div class="list-item__main">
                            <h3 class="list-item__title">{{position.name}}</h3>
                            <p class="list-item__description">{{position.desc}}</p>
                            <input type="hidden" name="fats" :value="position.fats">
                            <input type="hidden" name="top" :value="position.top">
                            <input type="hidden" name="carbohidrates" :value="position.carbo">
                            <input type="hidden" name="proteins" :value="position.proteins">
                            <input type="hidden" name="callories" :value="position.energy">
                            <input type="hidden" name="itemId" :value="position.id">
                            <input type="hidden" name="foodType" :value="position.category_id">
                        </div>
                        <div class="visible_block">
                            <h3>Видимость</h3>
                            <input type="checkbox" name="unvisible" :id="position.id" class="visible_button"
                                   :checked="position.visibility" @change="visibleItem(position)">
                            <label :for="position.id"></label>
                        </div>
                        <div class="price_block">
                            <h3 class="list-item__title">Цена:</h3>
                            <p class="list-item__price">{{position.price}}₽</p>
                        </div>
                        <div class="list-item__working_panel">
                            <button class="redacting__item working_panel_button" @click="redactingItem"><img
                                src="images/buttons/redact_item.svg" alt=""></button>
                            <button class="delete__item working_panel_button" @click="deleteItem"><img
                                src="images/buttons/delete_item.svg" alt=""></button>
                        </div>
                    </div>


                    <div class="positions__list-item"
                         v-if="mini"
                         v-for="(position,index) in tmpList"
                    >
                        <img :src="position.image" alt="" class="list-item__img">
                        <div class="list-item__main">
                            <h3 class="list-item__title">{{position.name}}</h3>
                            <input type="hidden" name="itemId" :value="position.id">
                            <input type="hidden" name="top" :value="position.top">
                        </div>
                        <div class="visible_block">
                            <h3>Видимость</h3>
                            <input type="checkbox"
                                   name="unvisible"
                                   :id="position.id"
                                   :checked="position.visibility"
                                   class="visible_button"
                                   @change="visibleItem(position)"
                            >
                            <label :for="position.id"></label>
                        </div>
                        <div class="price_block">
                            <h3 class="list-item__title">Цена:</h3>
                            <p class="list-item__price">{{position.price}}₽</p>
                        </div>
                        <div class="list-item__working_panel">
                            <button class="redacting__item working_panel_button" @click="redactingItem"><img
                                src="images/buttons/redact_item.svg" alt=""></button>
                            <button class="delete__item working_panel_button" @click="deleteItem"><img
                                src="images/buttons/delete_item.svg" alt=""></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CreateProductComponent from "./CreateProductComponent";
    import RedactingProductComponent from "./RedactingProductComponent";
    export default {
        comments : {
            CreateProductComponent,
            RedactingProductComponent
        },
        data() {
            return {
                positionsList: [],
                burgersList: [],
                dunersList: [],
                snecksList: [],
                salatsList: [],
                soupsList: [],
                kebabsList: [],
                drinksList: [],
                sousesList: [],
                addigItemList: [],
                tmpList: [],
                visible: false,
                picked: "1",
                itemId: 0,
                mini: false,
            }
        },
        created() {
            this.log("1")
        },
        mounted() {
            axios
                .get("")
                .then(response => {
                    this.positionsList = response.data;
                    this.positionsList.forEach(element => {
                        switch (String(element.userId)) {
                            case '1':
                                this.dunersList.push(element);
                                break;
                            case '2':
                                this.burgersList.push(element);
                                break;
                            case '3':
                                this.snecksList.push(element);
                                break;
                            case '4':
                                this.salatsList.push(element);
                                break;
                            case '5':
                                this.soupsList.push(element);
                                break;
                            case '6':
                                this.sousesList.push(element);
                                break;
                            case '7':
                                this.addigItemList.push(element);
                                break;
                            case '8':
                                this.drinksList.push(element);
                                break;
                            case '9':
                                this.kebabsList.push(element);
                                break;
                        }
                    });
                    this.tmpList = this.dunersList
                })
        },
        methods: {
            openPopup: function () {
                this.$root.$emit('openPopup',true);
            },
            log: function (picked) {
                switch (picked) {
                    case "1":
                        this.tmpList = this.dunersList;
                        this.mini = false;
                        break;
                    case "2":
                        this.tmpList = this.burgersList;
                        this.mini = false;
                        break;
                    case "3":
                        this.tmpList = this.snecksList;
                        this.mini = false;
                        break;
                    case "4":
                        this.tmpList = this.salatsList;
                        this.mini = false;
                        break;
                    case "5":
                        this.tmpList = this.soupsList;
                        this.mini = false;
                        break;
                    case "6":
                        this.tmpList = this.kebabsList;
                        this.mini = false;
                        break;
                    case "7":
                        this.tmpList = this.drinksList;
                        this.mini = true;
                        break;
                    case "8":
                        this.tmpList = this.sousesList;
                        this.mini = true;
                        break;
                    case "9":
                        this.tmpList = this.addigItemList;
                        this.mini = true;
                        break;
                }
            },
            deleteItem: function () {
                deletePopup.$root.activation = true;
                deletePopup.$root.itemId = this.id;
                switch (String(this.foodType)) {
                    case '1':
                        this.dunersList.splice(index, 1);
                        break;
                    case '2':
                        this.burgersList.splice(index, 1);
                        break;
                    case '3':
                        this.snecksList.splice(index, 1);
                        break;
                    case '4':
                        this.salatsList.splice(index, 1);
                        break;
                    case '5':
                        this.soupsList.splice(index, 1);
                        break;
                    case '8':
                        this.sousesList.splice(index, 1);
                        break;
                    case '9':
                        this.addigItemList.splice(index, 1);
                        break;
                    case '7':
                        this.drinksList.splice(index, 1);
                        break;
                    case '6':
                        this.kebabsList.splice(index, 1);
                        break;
                }
            },
            redactingItem: function (event) {
                redactingPopup.$data.isActive = true;
                axios
                    .post("", {
                        'redactingId': this.id
                    })
                    .then(response => {
                        redactingPopup.$data.tmpObj = response.data;
                    })
            },
            visibleItem: function (item) {
                item.completed = !item.complete;
                axios
                    .post("", {
                        'itemId': item.id,
                        'stayOfVisible': item.completed
                    })
            }
        }
    }

</script>
